/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/superhero/bootstrap.min.css";
@import "~font-awesome/css/font-awesome.min.css";
@import '~ngx-toastr/toastr';

h2, h3 {
  color: var(--primary);
}
img {
  border: 2px solid #EBEBEB;
}

#detail-img {
  border: none;
}

.btn-fav{
  position: absolute;
  bottom: 0;
  right: 1rem;
  font-size: 1.2rem;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.fa-spinner {
  -webkit-animation: spin 1500ms infinite linear;
  animation: spin 1500ms infinite linear;
}
@-webkit-keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}
@keyframes spin {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(359deg);
      transform: rotate(359deg);
  }
}

.alert {
  margin-top: 2rem;
}

