<div class="mt-5">
  <div class="col-md-4 m-auto">
    <div class="card card-body text-center p-5">
      <h1>NG-MOVIE-APP</h1>
      <p>Create a free account or login</p>
      <a [routerLink]="['/register']" class="btn btn-primary btn-block mb-2">
        Register
      </a>
      <a [routerLink]="['/login']" href="/login" class="btn btn-light btn-block mb-2">
        Login
      </a>
      <small class="mt-4">Created by <a href="https://twitter.com/GodwinAgedah">@GodwinAgedah</a> &copy;2019</small>
    </div>
  </div>
</div>

